:root {
    --bg-color: #00ff00;
  }

body{
background:linear-gradient(70deg, blue,green);
}

#container{
background-color: rgb(147, 147, 235);
margin-top: 20%;
height: 60%;
width: 100%;
display:flex;
justify-content: space-evenly;
}

button{
    margin: 1em;
    /*flex-direction: row;*/
    padding: 2em;
    color:white;
    background-color: slategray;
    border-radius:1.5em;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(43, 168, 226);
    font-family: 'Courier New', Courier, monospace;
}